Makefile.in*
Makefile
.[A-Za-z]*
*~
*.o
*.lo
*.la

config.*
configure
depcomp
*.pc
aclocal.m4
m4/*.m4
autom4te.cache
stamp-*
libtool
ltmain.sh
missing
install-sh
compile
*.stamp
gtk-doc.make

*.mo
*.gmo
POTFILES
LINGUAS
fm*-marshal.[ch]
*.ui
src/actions/*.[ch]
*.1
*.desktop
src/fm-version.h
src/libfm-demo
src/libfm-pref-apps
src/lxshortcut
src/tests/file-search-cli-demo
src/tests/fm-path
src/vapi/fm-actions.vapi
docs/reference/libfm/*/*
docs/reference/libfm/libfm-decl*
docs/reference/libfm/libfm-overrides.txt
docs/reference/libfm/libfm-un*
docs/reference/libfm/libfm.*
docs/reference/libfm/version.xml
