[Desktop Entry]
Type=Application
Name=Preferred Applications
Name[it_IT]=Applicazioni preferite
Name[zh_TW]=偏好的應用程式
Icon=preferences-desktop
Exec=libfm-pref-apps
StartupNotify=true
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
NotShowIn=GNOME;XFCE;KDE;
